%h3.highlight
  House Vote Summary
- if @billscore.blank?
  The House has not voted on this Bill.
- else
  Question: 
  = @question
  %br
  Result: 
  %span.label
    = @billscore.result
  %br
  = surround "(", ")" do
    = succeed " /" do
      = @billscore.yea
      Yea votes
    = @billscore.nay
    Nay votes
  %br
  Republican majority position: 
  = @billscore.rpos
  %br
  Democrat majority position: 
  = @billscore.dpos
  %br
  Voted on:
  = @billscore.voted_at.to_date