.row.contain
  %h2= @bill.bill_id 
.row.contain
  .small-8.columns
    %h3= @bill.official_title
  .small-4.columns   
    .billScorePanel
      .highlight
        Combined Opposition Factor:
      .score
        = @bill.billscore[0].combined_pscore 
    .billScorePanel
      .highlight
        Rank:
      .rank
        = @bill.billscore[0].bill_rank(params[:id])[0].ordinalize
      of
      = @bill.billscore[0].bill_rank(params[:id])[1]
      eligible bills.
.row.contain
  .small-12.columns.voteSummaryPanel{"data-equalizer" => true}
    .small-6.columns.houseSummaryPanel{"data-equalizer-watch" => true}
      = render :partial => 'house_panel', :locals => { :@billscore => @house_billscore, :@question => @house_question } 
    .small-6.columns.senateSummaryPanel{"data-equalizer-watch" => true}
      = render :partial => 'senate_panel', :locals => { :@billscore => @senate_billscore, :@question => @senate_question } 
.row.contain
  .small-9.columns.summary
    %h3.centered.highlight
      Bill Summary    
    =@bill.summary
  .small-3.columns
    %h4.highlight.centered
      Sponsor:
    .mocbox.centered
      = render :partial => 'sponsor', :locals => { :@sponsor => @sponsor } 
    %h4.highlight.centered
      Cosponsors      
      = succeed ":" do
        = surround "(", ")" do
          = @cosponsor_ids.count  
    .centered
    = render :partial => 'cosponsor', :locals => { :@cosponsor => @cosponsor }
.row.contain
  .small-12.columns
    %h3.highlight
      What do you think of this Bill?
    :erb
      <div class="fb-comments" data-href="<%= @fburl %>" data-width="100%" data-numposts="25" data-colorscheme="light"></div>
        
  
    
    