.row.contain
  %h2= @bill.bill_id 
.row.contain
  %h3= @bill.official_title
.row.contain{"data-equalizer" => true}  
  .small-2.small-offset-2.columns.billScorePanel{"data-equalizer-watch" => true}
    .highlight
      Bipartisan Score:
    .score
      = @bill.billscore[0].global_rank    
  .small-3.columns.billScorePanel{"data-equalizer-watch" => true}
    .highlight
      Rank:
    .rank
      = @bill.bill_rank(params[:id])[0].ordinalize
    of
    = @bill.bill_rank(params[:id])[1]
    eligible bills.
  .small-3.columns.end.billScorePanel{"data-equalizer-watch" => true}
    .highlight
      Combined Opposition Factor:
    .score
      = @bill.billscore[0].combined_pscore
.row.contain
  .small-12.columns.voteSummaryPanel{"data-equalizer" => true}
    .small-6.columns.houseSummaryPanel{"data-equalizer-watch" => true}
      = render :partial => 'house_panel', :locals => { :@billscore => @house_billscore, :@question => @house_question } 
    .small-6.columns.senateSummaryPanel{"data-equalizer-watch" => true}
      = render :partial => 'senate_panel', :locals => { :@billscore => @senate_billscore, :@question => @senate_question } 
.row.contain
  .small-9.columns.summary
    %h3.centered.highlight
      Bill Summary    
    =@bill.summary
  .small-3.columns
    %h4.highlight.centered
      Sponsor:
    .mocbox.centered
      = render :partial => 'sponsor', :locals => { :@sponsor => @sponsor } 
    %h4.highlight.centered
      Cosponsors      
      = succeed ":" do
        = surround "(", ")" do
          = @cosponsor_ids.count  
    .centered
    = render :partial => 'cosponsor', :locals => { :@cosponsor => @cosponsor }
  
    
    