.row.contain
  %h3
    = @legislator.title
    = @legislator.first_name
    = @legislator.last_name
    = surround "(", ")" do
      = succeed "," do
        = @legislator.party      
      = @legislator.state   
.row.contain
  .small-3.columns{ :style => "padding-left: 0;" }
    .legislatorPanel
      = image_tag photo_url(@legislator.bioguide_id) 
  .small-2.columns
    .row
      .scorePanel        
        Bipartisan Score:        
        .score
          = @legislator.legislatorscore.bipartisanscore
    .row
      .rankPanel
        Rank:
        .rank
          = @legislator.legislatorscore.chamberparty_rank.ordinalize
        of 
        = @legislator.legislatorscore.chamberparty_count
        = @chamberparty_descriptor
  .small-7.columns{ :style => "padding-right: 0;" }
    = render :partial => 'summary', :locals => { :@legislator => @legislator } 
.row.contain
  %h3 
    Significant Bipartisan Votes for 
    = @legislator.title
    = @legislator.last_name
    = succeed ":" do
      = surround "(", ")" do
        = @bill_array.count   
.row.contain
  = render :partial => "top_grid"
          
