%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
%title= content_for?(:title) ? yield(:title) : 'Bipartisanscore'
%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Bipartisanscore'}"}
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
-# Modernizr is required for Zurb Foundation
= javascript_include_tag 'vendor/modernizr'
= javascript_include_tag 'facebook'
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
%meta{:property => 'fb:app_id', :content => '620153441427097'}