-# navigation styled for Zurb Foundation 5
-# the syntax for data-topbar may need to change for Zurb Foundation 5
%nav.top-bar{"data-topbar" => true}
  %ul.title-area
    %li
      = link_to root_path do 
        = image_tag("bipartisanlogo.svg")
    
  .top-bar-section
    %ul.right
      %li.divider
      %li
        = link_to 'Legislators', legislators_path
      %li.divider
      %li
        = link_to 'Bills', bills_path      
      %li.divider
      %li
        = link_to 'Methodology', page_path('methodology')