%html
  %head
    = render 'layouts/header'
  %body{"data-no-turbolink" => true}
    = render 'layouts/after_body_tag'
    .backg
      %header
        = render 'layouts/navigation'   
        = render 'layouts/messages'
      .row
        .small-3.columns{ :style => "padding-left: 0;" }
          .sub
            Legislators 
      = yield
      = render 'layouts/footer'