%html
  %head
    = render 'layouts/header'
  %body
    = render 'layouts/after_body_tag' 
    .backg
      %header
        = render 'layouts/navigation'   
        = render 'layouts/messages'
      = yield
    = render 'layouts/footer'
